
<link rel="icon" href="~/Content/Image/Logo quản lý (cnpm).png" sizes="0.5x0.5">
<title>@ViewBag.Title - Trường Đại học ELSA</title>
<link rel="stylesheet" href="~/Content/Login/Login.css" />
@RenderSection("scripts", required: false)
@RenderBody()