<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/Public/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">Admin</a>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="/admin/LopHocPhans" class="nav-link">
                    <i class="nav-icon fas fa-university"></i>
                    <p>
                        Lớp học phần
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/DangKies" class="nav-link">
                    <i class="nav-icon fas fa-edit"></i>
                    <p>
                        Điểm
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/SinhViens" class="nav-link">
                    <i class="nav-icon fas fa-graduation-cap"></i>
                    <p>
                        Sinh Viên
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/MonHocs" class="nav-link">
                    <i class="nav-icon fas fa fa-book"></i>
                    <p>
                        Môn học
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/GiangViens" class="nav-link">
                    <i class="nav-icon fas fa fa-users"></i>
                    <p>
                        Giảng viên
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/Khoas" class="nav-link">
                    <i class="nav-icon fas fa fa-suitcase"></i>
                    <p>
                        Khoa
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->