@{
    ViewBag.Title = "Cổng thông tin";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/LayoutSV.cshtml";
}
<link rel="stylesheet" href="~/Content/Index/home.css" />
    <main>
        <h2>Thông báo</h2>
        <table>
            <thead>
                <tr>
                    <th>Tiêu đề</th>
                    <th>Người gửi</th>
                    <th>Thời gian gửi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">SINH VIÊN CHẤM ĐIỂM RÈN LUYỆN NĂM HỌC 2023-2024-HK01 THÀNH CÔNG</a></td>
                    <td>22DH112218</td>
                    <td>21/09/2023 15:07:00</td>
                </tr>
                <tr>
                    <td><a href="#">SINH VIÊN CHẤM ĐIỂM RÈN LUYỆN NĂM HỌC 2023-2024-HK02 THÀNH CÔNG</a></td>
                    <td>22DH112218</td>
                    <td>28/02/2024 09:57:00</td>
                </tr>
                <tr>
                    <td>Thay đổi lịch của lớp học phần</td>
                    <td>Đào Thị Kim Hoa</td>
                    <td>27/06/2024</td>
                </tr>
                <tr>
                    <td>Thay đổi lịch của lớp học phần</td>
                    <td>Đào Chí Dũng</td>
                    <td>24/06/2024</td>
                </tr>
                <tr>
                    <td>Thay đổi lịch của lớp học phần</td>
                    <td>Đào Thị Kim Hoa</td>
                    <td>12/06/2024</td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </main>