@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/Index/index.css" />
<div class="content">
    <div class="sidebar">
        <h2>Tin tức</h2>
        <ul>
            <li><a href="#">Thông báo chung</a></li>
            <li><a href="#">Kế hoạch năm học</a></li>
            <li><a href="#">Quy định - Quy chế</a></li>
            <li><a href="#">Thông báo Phòng Đào tạo Đại học</a></li>
            <li><a href="#">Thông báo Phòng Chính trị - Công tác Sinh viên</a></li>
            <li><a href="#">Đánh giá kết quả rèn luyện sinh viên</a></li>
            <li><a href="#">Học bổng - Khen thưởng</a></li>
            <li><a href="#">Tuần sinh hoạt công dân - sinh viên</a></li>
            <li><a href="#">Thông báo Bộ phận Y Tế</a></li>
            <li><a href="#">Thông báo Phòng Kế hoạch - Tài chính</a></li>
            <li><a href="#">Thông báo Phòng Khảo thí - Bảo đảm chất lượng giáo dục</a></li>
            <li><a href="#">Hướng dẫn sử dụng</a></li>
            <li><a href="#">Các câu hỏi thường gặp</a></li>
            <li><a href="#">Kí hiệu phòng học và cơ sở</a></li>
            <li><a href="#">Mẫu đơn</a></li>
            <li><a href="#">Curriculums</a></li>
            <li><a href="#">Chương trình đào tạo</a></li>
            <li><a href="#">Đề án mở ngành</a></li>
            <li><a href="#">Đề cương chi tiết học phần</a></li>
        </ul>
    </div>
    <div class="main-content">
        <h2>Thông báo chung</h2>
        <ul>
            <li><a href="#">ĐĂNG KÝ THAY ĐỔI NƠI KHÁM CHỮA BỆNH QUÝ III NĂM 2024</a></li>
        </ul>
    </div>
</div>